<ng-template #joinModalWindow let-modal>
  <form #modalForm="ngForm" (ngSubmit)="enterGame(modalForm)">
    <label for="username">Username: </label>
    <input id="username" name="username" type="text" class="form-control" style="width: 30%; margin-bottom: 20px" ngModel required/>
    <button type="submit" class="btn btn-primary" [disabled]="!modalForm.valid">Enter game</button>
  </form>
</ng-template>


<form #preGameForm="ngForm">
  <label for="servers">Servers: </label>
  <p-table id="servers" [value]="servers">
    <ng-template pTemplate="header">
      <tr>
        <th>Host</th>
        <th>Actions</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-server>
      <tr>
        <td>{{server.host}}</td>
        <td>
          <button class="btn btn-primary" (click)="selectLobby(server.id)">Join</button>
        </td>
      </tr>
    </ng-template>
  </p-table>
  <br><br>
  <button class="btn btn-primary" type="button" (click)="listLobbies()">Refresh servers</button>
  <button class="btn btn-primary" type="button" (click)="createServer()">Create new server</button>

</form>



<br><br><br>



