
<form #preGameForm="ngForm">
  <label for="username">Username: </label>
  <input id="username" name="username" [disabled]="validUserNameSubmitted" type="text" class="form-control" style="width: 30%; margin-bottom: 20px" ngModel required/>

  <label for="servers">Servers: </label>
  <p-table id="servers" [value]="servers">
    <ng-template pTemplate="header">
      <tr>
        <th>Host</th>
        <th>Actions</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-server>
      <tr>
        <td>{{server.host}}</td>
        <td>
          <button (click)="joinLobby(server.id)" [disabled]="!preGameForm.valid">Join</button>
        </td>
      </tr>
    </ng-template>
  </p-table>
  <br><br>
  <button type="button" (click)="listLobbies()">List servers</button>

</form>



<br><br><br>



