
<form #usernameForm="ngForm" (ngSubmit)="submitUsername(usernameForm)">
  <label for="username">Username: </label>
  <input id="username" name="username" type="text" class="form-control" ngModel required/>
  <button type="submit">Submit</button>
</form>



<br><br><br>


<p-table [value]="servers">
  <ng-template pTemplate="header">
    <tr>
      <th>Host</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-server>
    <tr>
      <td>{{server.host}}</td>
    </tr>
  </ng-template>
</p-table>
<br><br>
<button type="button" (click)="listServers()">List servers</button>
